/PARA PROYECTO BETA+/AFEYAC/AFEYAC/obj
/PARA PROYECTO BETA+/AFEYAC/AFEYAC/bin
/PARA PROYECTO BETA+/AFEYAC/AFEYAC/*.user
/PARA PROYECTO BETA+/AFEYAC/Registros/obj
/PARA PROYECTO BETA+/AFEYAC/Registros/bin
/PARA PROYECTO BETA+/VENTANAS/VENTANAS/obj
/PARA PROYECTO BETA+/VENTANAS/VENTANAS/bin
/PARA PROYECTO BETA+/VENTANAS/VENTANAS/*.user
